////
/// ----------------------------------------------------------------------------------------
/// A SCSS Template with foundation's media queries
/// ----------------------------------------------------------------------------------------
/// Contact Area
/// @author - Zachary Richards
/// @description - This will style the Contact Area
////

/////
/// ----------------------------------------------------------------------------------------
/// @description - All viewport widths from mobile up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(small) {
    .portfolio {
        .contact {
            background-color: $secondary-blue;
            padding: 3rem 0;

            .contact-title {
                font-family: "montserrat_bold";

                .under {
                    width: 8%;
                }
            }

        }
    }
}
/// End of Small Up

/////
/// ----------------------------------------------------------------------------------------
/// @description - Tablet display (641px) viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(medium) {
    .portfolio {}
}
/// End of Medium Up

/////
/// ----------------------------------------------------------------------------------------
/// @description - Large display (1025px) viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(large) {
    .portfolio {}
}
/// End of Large Up
