////
/// ----------------------------------------------------------------------------------------
/// A SCSS Template with foundation's media queries
/// ----------------------------------------------------------------------------------------
/// Hero Area
/// @author - Zachary Richards
/// @description - This will style the Hero Area
////

/////
/// ----------------------------------------------------------------------------------------
/// @description - All viewport widths from mobile up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(small) {
    .portfolio {
        .hero-area {
            background: url('../../img/background.jpg') no-repeat bottom fixed / cover;
            height: 100vh;

            &:before {
                background-color: rgba($black, .2);
                content: "";
                height: 100vh;
                position: absolute;
                width: 100%;
                top: 0;
            }

            .logo-bar {
                background: linear-gradient(to bottom right, $black, transparent 100%);
                height: 6rem;
                transform-style: preserve-3d;

                .logo {
                    position: absolute;
                    top: 50%;
                    transform: translate3d(-50%, -50%, 0);
                }

                .title {
                    font-size: 1.25rem;
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    z-index: 2;
                }
            }

            .hero-body {
                align-items: center;
                color: $white;
                display: flex;
                flex-direction: column;
                height: 90vh;
                justify-content: center;

                .header {
                    margin-bottom: 5rem;
                }

                .nav-link {
                    background: rgba($secondary-blue, .8);
                    border-radius: rem-calc(45);
                    margin-bottom: 1rem;
                    padding: rem-calc(8);
                    transition: all 500ms ease;

                    &:hover {
                        background: $white;
                        color: $secondary-blue;
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
/// End of Small Up

/////
/// ----------------------------------------------------------------------------------------
/// @description - Tablet display (641px) viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(medium) {
    .portfolio {}
}
/// End of Medium Up

/////
/// ----------------------------------------------------------------------------------------
/// @description - Large display (1025px) viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(large) {
    .portfolio {
        .hero-area {
            .hero-body {
                .links {
                    display: flex;
                    justify-content: space-around;
                }

                .nav-link {
                    font-size: 1.5rem;
                    padding: .8rem 2.5rem;
                }

                .nav-link.first {
                    padding: .8rem 3rem;
                }
            }
        }
    }
}
/// End of Large Up
