.portfolio {
    .header {
        background-color: $primary-blue;
        background: linear-gradient(to right, $primary-blue, rgba(0, 0, 0, 0));
        height: 8rem;
        position: relative;
        // transform-style: preserve-3d;

        .logo {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .title {
            font-size: 1.5rem;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
    }

    .hero-area {
        background: url('../../img/background.png') no-repeat top / cover;
        background-attachment: fixed;
        height: 100vh;
    }

    .projects {
        background-color: $primary-blue;
        padding: 0 2rem 4rem;

        .title {
            margin: 4rem 0 3rem;
        }

        .panel {
            background-color: $secondary-blue;
            border-radius: 5px;
            display: block;
            height: 15rem;
            margin: 1rem;
            transition: all 1500ms ease;
        }

        .overlay {
            height: 100%;
            transition: all 1500ms ease;
            width: 100%;
            // background-color: rgba( $black, .5);
            &:hover {
                background-color: rgba( $overlay, .6);
            }
        }

        .panel.first {
            background: url('../../img/background.png') no-repeat top / cover;
        }

        .panel.second {
            background: url('../../img/background.png') no-repeat top / cover;
        }

        .panel.third {
            background: url('../../img/background.png') no-repeat top / cover;
        }

        .panel.fourth {
            background: url('../../img/background.png') no-repeat top / cover;
        }
    }
}
