.portfolio {
    .header-bar {
        background-color: $primary-blue;
        background: linear-gradient(to right, $primary-blue, rgba(0, 0, 0, 0));
        height: 8rem;
        position: relative;
        // transform-style: preserve-3d;

        .logo {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .title {
            font-size: 1.5rem;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
    }

    .hero-area {
        background: url('../../img/background.png') no-repeat top / cover;
        background-attachment: fixed;
        height: 50rem;

        .hero-body {
            margin-top: 8rem;

            .title .under {
                width: 50%;
            }

            .nav-link {
                &:hover {
                    cursor: pointer;

                    .under {
                        width: 50%;
                    }
                }
            }

            .under {
                border: 1px solid $white;
                transition: all 1s ease;
                width: 20%;
            }
        }
    }

    .projects {
        background-color: $secondary-blue;
        // padding: 0 0 4rem;

        .header {
            margin: 3rem 0;
        }

        .panel {
            background-color: $secondary-blue;
            display: block;
            height: 25rem;
            // margin: rem-calc(10) 0;
            transition: all 1000ms ease;

            &:hover .overlay {
                background-color: rgba( $overlay, .7);
            }

            .overlay {
                height: 100%;
                transition: all 1000ms ease;
                width: 100%;
            }

            .title {
                color: $white;
                top: 15%;
                left: 50%;
                position: absolute;
                text-align: center;
                transform: translateX(-50%);
                width: 80%;
            }
        }

        .panel.first {
            background: url('../../img/background.png') no-repeat top / cover;
        }

        .panel.second {
            background: url('../../img/background.png') no-repeat top / cover;
        }

        .panel.third {
            background: url('../../img/background.png') no-repeat top / cover;
        }

        .panel.fourth {
            background: url('../../img/background.png') no-repeat top / cover;
        }
    }
}
