////
/// ----------------------------------------------------------------------------------------
/// Brand palette
/// ----------------------------------------------------------------------------------------
////
$primary-blue: #225664;
$secondary-blue: #525A7E;
$primary-red: #983352;
$primary-orange: #AA7939;
$primary-gray: #D8D8D8;
$secondary-gray: #7F7D7D;
