////
/// ----------------------------------------------------------------------------------------
/// Brand palette
/// ----------------------------------------------------------------------------------------
////
$primary-blue: #525A7E;
$secondary-blue: #225664;
$overlay: #AA9565;
